*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    background: crimson;
}
nav{
    padding: 20px 35px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
nav .part2{
    background: transparent;
    text-decoration: none;
    display: flex;
    text-align: right;
    justify-content: space-evenly;
    gap: 100px;
}
nav a{
    font-weight: 900;
    text-decoration: none;
    color: rgb(229, 233, 122);
}
#hero{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#cont1{
    padding-left: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    background-color: transparent;
}
#cont1 p{
    text-transform: uppercase;
    padding-top: 15px;
    font-size: 25px;
}
#cont1 span{
    padding-bottom: 15px;
    padding-right: 18px;
    color: rgb(229, 233, 122);
}
#cont1 span:hover{
    background: #000;
    color: white;
    border-radius: 20px;
    font-family: serif;
}
#hire{
    margin: 20px 30px;
}
.but{

    border: none;
    font-size: 15px;
    padding: 8px 15px;
    font-family:Segoe UI, Tahoma, Geneva, Verdana;
}
.but:hover{
    background: #000;
    color: antiquewhite;
    /* border-radius: 15%; */
    border: none;
}
#cont{
    
    background-color: transparent;
}
.child{
    width: 650px;
    height: 550px;
}
.child h5{
    color: white;
    font-size: 25px;
    text-align: left;
    padding-top: 20px;
}
.child img{
    padding-top: 20px;
    padding-left: 150px;
    width: 600px;
    height: 550px;
}
#part3{
    display: flex;
    justify-content: left;
    text-align: left;
    padding: 40px;

}
#part3 a{
    margin: 20px 20px;
    text-decoration: none;
    color: white;
    font-size: 30px;
}
hr{
    margin-top: 50px;
    color: whitesmoke;
}

#sec2 header{
    font-size: 50px;
    text-align: center;    
}

.image{
    height: 600px;
    width: 1300px;
    background: #000;
    margin-top: 20px;
    margin-left: 5%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.img{

}