* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 99vw;
  height: 99vh;
  background-color: #ffffff;
}
.main {
    font-family: medium-content-sans-serif-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    display: grid;
    height: 100vh;
    grid-template-rows: 57px 1fr;
    grid-template-columns: 15vw 1fr 20vw;
    grid-template-areas:
    "nav nav nav"
    "side content side-r";
    width: 99vw;
    height: 99vh;
    overflow-x:hidden;
     
}
#nav {
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  grid-area: nav;
}
#content {
  border: 2px solid rgb(214, 213, 213);
  grid-area: content;
}
#side {
  border-top: 2px solid rgb(214, 213, 213);
  grid-area: side;
}
#sider {
  border-top: 2px solid rgb(214, 213, 213);
  grid-area: side-r;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  .logo-m{
    display: flex;
    align-items: center;
    gap: 10px;

    svg{
        vertical-align: middle;
    }

    #h1{
        font-family: medium-content-sans-serif-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue";
        font-size: 25px;
        font-style:italic;
        font-weight: 800;
        line-height: normal;
        color: rgba(0, 0, 0, 0.8);
    }
  }

  .inp{
    width: 150px;
    padding: 2px;
    border: 2px solid rgb(15, 15, 15);
    border-radius: 20px;
    display: flex;
    gap: 10px;
    background-color: #f2f2f2;
    
    
    input {
        background: transparent;
        width: 50px;
        outline: none;
        border: none;
    }
  }
}


.get {
  text-decoration: none;
  padding: 5px 10px;
  background: #000;
  color: white;
  border-radius: 20px;
}
.contact {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: right;
  .inp-r,svg,input{
    display:none;
  }

}
.inp-r{
    display:none;
}

.a {
  font-weight: 100;
  color: #6b6b6b;
  text-decoration: none;
}
.menu {
  color: #6b6b6b;
}

#side{
    width: 50vmin;
    height: 50vmin;
}
.side-nav{
    margin: 20px;
    font-weight: 100;
    color: #6b6b6b;
    align-items: start;
    justify-content: space-evenly;
    flex-direction: column;
    display: flex;
    gap: 20px;
}
.links a{
        color: #6b6b6b;
        text-decoration: none;
        font-weight: 100;
        cursor: pointer;
        font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.side-nav-b{
    color: #6b6b6b;
    height: 30vh;
    width: 15vw;
    align-items: center;
    padding-left: 1.5vw;
    justify-content: start;
    display: grid;
    grid-template-rows: repeat(5 , 50px);
    grid-template-columns: auto;
    font-weight: 900;

    hr{

        justify-self: center;
        width: 10vw;
    }
    a{
        color: #6b6b6b;
        font-weight: 800px;
    }
}

li{
    list-style: none;
    text-decoration: underline;
}

/* content */
#content{
    
}
.cont{
    width: 700px;
    justify-self: center;
    /* border: 2px solid black; */
    margin: 1% 2% 0 2%;
}
.promo{
    justify-content: center;
    padding-top: 12.5px;
    font-weight: 200;
    text-align: center;
    height: 3vw;
    background-color: #f2f2f2;
    position: relative;
    
    a{
        color: black;
        font-weight: 800;
    }
    i{
        position: absolute;
        top: 35%;
        right: 2%;
        cursor: pointer;
    }
}
.nav-f{
    width: 750px;
    justify-self: center;
    margin-left: 1.8vw;
    margin-top: 2vh;
    display: flex;
    align-items: center;

    h4{
        font-weight: 100;
        margin: 8px;
    }
    
}
hr{
    justify-self: center;
    width: 700px;

}
.side-hr{
    justify-self: center;
    width: 6vw;
}



.cntnt-info{

    .cntnt-links{
        gap: 10px;
        display: flex;

        img{
            width: 20px;
        }
        li{
            list-style: disc;
        }
        .time{
            gap: 20px;
            display: flex;

            p a{
                color: #6b6b6b;
            text-decoration: none;
            text-transform: capitalize;
            }
            a:hover{
                font-weight: bold;
                text-decoration: underline;
            }
        }

    }

}

.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .hero-txt{
        font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;

        p{
            padding-top: 5px;
            color: #6b6b6b;
            text-decoration: none;
            text-transform: capitalize;
        }
        h2{
            /* font-size: 35px; */
            font-weight: bold;
        }
        a{
            color: #6b6b6b;
            text-decoration: none;
        }
    }

    .hero-img{
        display: flex;
        flex-wrap: wrap;
        img{
            /* width: 150px; */
        }
    }
}

.reacts{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .icon i{
        color:rgb(107, 107, 107);
        margin: 5px;
    }
    .icon{
        cursor: pointer;
    }
}
/* side bars */
#sider {
    padding: 0px 10px;
    width: 20vw;
    display: block;
    position: sticky;
    top: 0;
    align-self: start;
    
    h2{
        font-weight: 500;
        margin: 1.5vh 1vw 0px 1vw;
    }
    a{
        padding-top:0px;
    }
   
}
.sider{
    
    margin: 2vh 1vw 0 2vw;
    
    .staff{
        display: flex;
        gap: 10px;
        p{
            color: #6b6b6b;
            align-items: center;
        }
        img{
            border-radius: 50%;
        }
        #name{
            color: #000;
        }
        h4{
            color: #6b6b6b;
        }
    }
    h3{
        padding: 2vh 0vh;
    }
    .date{
        display: flex;
        gap: 10px;
        i{
            color: gold;
        }
        h4{
            font-weight: 10;
        }
    }
}
.Recommended{
    margin: 2vh 2vw;
    width: auto; 
    max-width: 400px; 
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 

    span {
    display: inline-block;
    padding: 6px 12px;
    color: #000;
    background-color: #d2f6f5;
    border-radius: 10px;
    font-size: 0.9rem;
    white-space: nowrap; /* Prevents text inside a single tag from breaking */
  }
}
#outer-a{
    color: #000;
    margin: 1vh 1vw 0 2vw;
}
.follow{
    margin: 2vh 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .who{
        display: flex;
        align-items: center;
        gap: 10px;

        img{
            border-radius: 50%;
        }
        
    }
    .fol-btn{
        padding: 5px 7px 5px 7px;
        border-radius: 15px;
        background-color: #d2f6f5;
    }
}

.read{
    margin: 2vh 2vw;


    .read-txt{
        display: flex;
        
    }
    h3{

    }
    .date{
        display: flex;
        gap: 10px;
        i{
            color: gold;
        }
        h4{
            font-weight: 10;
        }
    }
}
.footer{
    margin: 2vh 2vw;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    a{
        text-decoration: none;
        color: rgb(0, 0, 0);
    }
}

@media (max-width:786px) {

    .main{
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas:
        "nav"
        "side"
        "content"
        "side-r";
    }
    .logo{
        display:flex;
        align-items: center;
        justify-content: space-between;
        /* margin-right:10px; */
        gap: 80%;
    }
    .contact{
        display:flex;
    }
    .inp{
        width: 50vw;
        padding: 2px
    }
    #side{
        display: none;
    }
    .promo{
        max-width: 90vw;
        margin:5px;
        padding-left:10px;
        display:flex;
        align-items: center;
        justify-content: space-between;
        gap: 2vw;
        p{
            padding: 15px;
        }
    }

   .nav-f{
        margin: 8px;
        color: black;  
        padding:0px 10vw;
        
    }
    .contact a{
        display: none;
    }

    #content{
        max-width: 99vw;
        height: auto;
    }
    .cont{

        width: 99vw;
        height: auto;
    
    }
    
    .contnt-info {
        margin:20px;
        padding: 20px;
    }
    .cntnt-links{
        gap: 10px;
        display: flex;
        padding:0px 3vw;
    }
    .hero{
        padding: 0px 3vw;       
    }
    .reacts{
        padding:0px 3vw;       
    }

    #sider{
        width: 99vw;
        padding:0px 3vw;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;

    }
    .sider{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
    }
    .follow{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }
    .who{
        justify-self: flex-start;
        align-self: flex-start;
    
    }
    h2{
        margin: 0px;
        padding: 5px;
    }
    h2{
        font-weight: 500;
        margin-top:0%;
    }

}