*{
    margin: 0;
    padding: 0;
}


body {
  background-color: crimson;
  font-family: "Segoe UI", Tahoma, sans-serif;
}

.card {
  background-color: #ffffff;
  width: 300px;
  padding: 20px;
  margin: 10px;
  border: 2px solid #6c63ff;
  border-radius: 15px;
}

.card:hover {
    border-color: aqua;
    border-radius: 10%;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
}

.card img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid #6c63ff;
  margin-bottom: 15px;
}

.card h2 {
  color: #333333;
  margin-bottom: 10px;
}

.card p {
  color: #000000;
  font-size: 14px;
}
